@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@import "tailwindcss";

body {
  background: #090909;
  font-family: "Inter Tight";
  font-family: "Inter", sans-serif;
  font-family: "Geologica";
}

.container {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

@media (max-width: 1100px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

.logo-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Track */
.logo-track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: logo-scroll 18s linear infinite;
}

/* Logos */
.logo-track img {
  width: auto;
  object-fit: contain;
  flex-shrink: 0;
}

/* Animation */
@keyframes logo-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* Pause on hover (optional) */
.logo-slider:hover .logo-track {
  animation-play-state: paused;
}

.main-heading {
  color: #f3fe00;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.description {
  color: var(--white, #fff);
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 46px;
  max-width: 981px;
  width: 100%;
}
.cursor-trail-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.cursor-trail-dot {
  position: fixed;
  width: 25px;
  height: 25px;
  background: #f3fe00;
  border-radius: 50%;
  filter: blur(12px);
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: trailFade 2.5s ease-out forwards;
}

@keyframes trailFade {
  0% {
    opacity: 0.7;
    transform: translate(-50%, -50%) scale(1);
  }
  40% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}
